<launch>
    <node name="main" pkg="pcl_radius_search" type="main" output="screen">
        <param name="topic_name" value="/innovusion_no_ground" ></param>
    </node>

    <!-- <node pkg="lidar_tracker"
        type="euclidean_cluster"
        name="euclidean_cluster"
        output="screen">
        <param name="points_node" value="/innovusion_no_ground" />
        <param name="output_topic" value="/rear_lidar_objects_raw" />
        <param name="output_cluster" value="/rear_points_cluster" />
        <param name="monitor_topic" value="/monitor/e_clustering_rear" />
        <param name="cluster_size_min" value="10" />
        <param name="cluster_size_max" value="10000" />
        <param name="clip_max_height" value="100" />
        <param name="clip_min_height" value="-100" />
        <param name="keep_lane_left_distance" value="200" />
        <param name="keep_lane_right_distance" value="200" />
        <param name="keep_lanes" value="true" />
        <param name="remove_points_upto" value="0.01" />
        <param name="use_vector_map" value="false" />
        <param name="cluster_merge_threshold" value="0.6" />
        <param name="output_frame" value="base_link" />
        <param name="clustering_distance_gap" value="15" />
        <param name="remove_ground" value="false" />
        <param name="use_gpu" value="true" />
    </node> -->
</launch>